%div{:'data-content-key' => 'active-tab'}
  .head
    %ul.tabs
      %li
        =link_to "Account", edit_user_path(current_user), :'data-remote' => 'true', :'data-method' => 'get'
      %li.active
        =link_to "Profile", edit_user_profile_path(current_user), :'data-remote' => 'true', :'data-method' => 'get'

  .article
    -semantic_form_for @user do |f|
      =hidden_field_tag "return_to", edit_user_profile_path(current_user)
      =f.error_messages
      =render "users/profiles/inputs", :f => f
      - f.buttons do
        = f.commit_button "Update Profile"
