.profile_summary{ :'data-content-key' => 'profile-summary' }
  ==* #{profile_summary(current_user.try(:profile))}
  %span=link_to("update", signed_in? ? edit_profile_path : new_user_registration_path, :'data-tip' => "click here to change how Cozily finds your matches")
