.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

  =render "dashboard/tabs", :active => :favorites

.article
  -if favorites.present?
    .pagination
      %ul
        %li.counts= pagination_summary(params[:page], current_user.favorite_apartments)
        %li.navigation= will_paginate(favorites, :renderer => AjaxPaginationLinkRenderer)
    -favorites.each do |apartment|
      =render "dashboard/apartment", :apartment => apartment, :position => position_in_collection(apartment, current_user.favorite_apartments)

  -else
    %p.empty
      You haven't favorited any apartments.  What gives?