.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=lady_text

  =render "dashboard/tabs", :active => :matches

.article
  -if matches.present?
    .pagination
      %ul
        %li= pagination_summary(params[:page], current_user.matches)
        %li= will_paginate(matches, :renderer => AjaxPaginationLinkRenderer)
    -matches.each do |apartment|
      =render "dashboard/apartment", :apartment => apartment, :position => position_in_collection(apartment, current_user.matches)

  -else
    %p.empty
      You don't have any matches.  We're working on it.
