%div{:'data-content-key' => 'active-tab'}
  .article
    -if matches.present?
      .pagination
        %ul
          %li.counts= pagination_summary(params[:page], current_user.matches)
          %li.navigation= will_paginate(matches)
      -matches.each do |apartment|
        =render "dashboard/apartment", :apartment => apartment, :position => position_in_collection(apartment, current_user.matches)
      .pagination
        %ul
          %li.counts= pagination_summary(params[:page], current_user.matches)
          %li.navigation= will_paginate(matches)

    -else
      %p.empty
        You don't have any matches.  We're working on it.

  .aside
    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"
    =link_to "view on larger map", dashboard_map_path, :'data-remote' => true

    =render "shared/activity_feed", :events => @events
