.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

  =render "dashboard/tabs", :active => :matches

.article
  %p.summary
    =profile_summary(current_user.profile)
  %p.update
    =link_to("update profile", edit_user_path(current_user))
  -if matches.present?
    =pagination_summary(params[:page], Apartment.with_state(:listed))
    =will_paginate(matches, :renderer => AjaxPaginationLinkRenderer)
    -matches.each do |apartment|
      =render "dashboard/apartment", :apartment => apartment, :position => position_in_collection(apartment, Apartment.with_state(:listed))

  -else
    %p.empty
      You don't have any matches.  We're working on it.