%div{:'data-content-key' => 'active-tab'}
  .head
    %h1==Hi, #{current_user.first_name}

    .lady
      %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

    %ul.tabs
      %li=link_to "Matches", dashboard_matches_path, :'data-remote' => true
      %li=link_to "Favorites", dashboard_favorites_path, :'data-remote' => true
      %li.active=link_to "Inbox", dashboard_messages_path, :'data-remote' => true

  .article
