%div{:'data-content-key' => 'active-tab'}
  .head
    %h1==Hi, #{current_user.first_name}

    .lady
      %span=="Wow #{current_user.first_name}, that's a fabulous shirt you're wearing"

    =render "dashboard/tabs", :active => :messages

  .article
