-content_for :page_title do
  Cozily | Dashboard

:javascript
  var apartments = #{(current_user.favorite_apartments).as_json(:methods => :to_param, :include => :address).to_json};

.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=lady_text

  =render "dashboard/tabs", :active => :favorites

=render "dashboard/favorites", :favorites => @favorites
