:javascript
  var apartments = #{(current_user.apartments).as_json(:methods => :to_param, :include => :address).to_json};

%div{:'data-content-key' => 'active-tab'}
  =render "dashboard/listings", :apartments => @apartments

  .aside
    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    #activity_feed
      %h3 Activity Feed
      %ul
        -@events.each do |event|
          %li{ :class => "#{event.subject_type.downcase} #{event.event_type}" }
            %span.text=event_text(event)
            %span.date==#{time_ago_in_words(event.created_at)} ago
    =image_tag "backgrounds/shadow.png", :class => "shadow"
