-content_for :page_title do
  Cozily | Dashboard

:javascript
  var apartments = #{(current_user.apartments).as_json(:methods => :to_param, :include => :address).to_json};

%div{:'data-content-key' => 'active-tab'}
  =render "dashboard/listings", :apartments => @apartments

  .aside
    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    =render "shared/activity_feed", :events => @events
