-content_for :page_title do
  Cozily | Dashboard

:javascript
  var apartments = #{@matches.as_json(:methods => :to_param, :include => :address).to_json};

.head
  %h1 Hi, #{signed_in? ? current_user.first_name : "Friend"}!

  .lady
    %span= lady_text

  =render "dashboard/tabs", :active => :matches

=render "dashboard/map"
