-content_for :page_title do
  Cozily | Dashboard

:javascript
  var apartments = #{@matches.as_json(:methods => :to_param, :include => :building).to_json};

.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=lady_text

  =render "dashboard/tabs", :active => :matches

=render "dashboard/matches", :matches => @matches
