-semantic_form_for [apartment, Message.new(:receiver => apartment.user)] do |form|
  -form.inputs do
    =form.input :receiver_id, :as => :hidden
    =form.input :body, :label => false
  -form.buttons do
    =form.commit_button "Send Message"
