%div[message]
  %span.date="#{time_ago_in_words(message.created_at)} ago"
  %span.name==#{message.sender.full_name} contacted #{message.receiver.full_name}
  =image_tag message.sender.gravatar_url
  %p=message.body
  %br{ :style => "clear:both" }
