%div{ :'data-content-key' => 'thread' }
  =render "messages/new", :apartment => @apartment

  -if conversations.present?
    .messages
      %h5 Messages

      - conversations.each do |conversation|
        - conversation.messages.each do |message|
          =render "messages/show", :message => message
