%div{ :'data-content-key' => 'thread' }
  = render "messages/new", :apartment => apartment

  - if current_user && apartment.user != current_user
    - if conversation = Conversation.for_user_and_apartment(current_user, apartment)
      .messages
        %h5 Messages
        - conversation.messages.each do |message|
          =render "messages/show", :message => message
