%div{ :'data-content-key' => 'thread' }
  =render "messages/new", :apartment => @apartment

  .messages
    %h5 Messages

    -messages.each do |message|
      =render "messages/show", :message => message
