%div{ :'data-content-key' => 'thread' }
  =render "messages/new", :apartment => apartment

  -if current_user && conversation = apartment.conversations.for_user(current_user).first
    .messages
      %h5 Messages
      - conversation.messages.each do |message|
        =render "messages/show", :message => message
