%div{ :'data-content-key' => 'thread' }
  =render "messages/new", :apartment => apartment

  -if current_user && apartment.user != current_user
    .messages
      %h5 Messages
      - conversation.messages.each do |message|
        =render "messages/show", :message => message
