=render "shared/mailer_salutation", :user => @user
%p
  We're really excited that you joined <a href="http://cozi.ly">Cozily</a> and created your first listing!  Please let us know if you have any questions or feedback!
%p
  Thanks,
%p
  Michael and Todd<br/>
  http://cozi.ly