=render "shared/mailer_salutation", :user => @user
%p
  We're really excited that you joined <a href="http://cozi.ly">Cozily</a> and created your first listing!  Remember to publish your apartment if you haven't already done so.  Users will not be able to see your listing until your apartment is published.  Please let us know if you have any questions or feedback!
%p
  Thanks,
%p
  Michael and Todd<br/>
  http://cozi.ly