%div{:'data-content-key' => "favorites_table"}
  -if @favorite_apartments.present?
    %table
      %thead
        %tr
          %th Address
          %th Rent
          %th Bedrooms
          %th Bathrooms
          %th Square Footage
          %th

      %tbody
        -@favorite_apartments.each do |apartment|
          %tr
            %td=link_to apartment.full_address, apartment
            %td=apartment.rent
            %td=apartment.bedrooms
            %td=apartment.bathrooms
            %td=apartment.square_footage
            %td=link_to "unfavorite", user_favorite_path(@user, Favorite.find_by_user_id_and_apartment_id(@user.id, apartment.id)), :'data-remote' => true, :'data-method' => 'delete'

  -else
    %p
      You don't have any favorites.  Are you too picky?