-content_for :page_title do
  Welcome to Cozily

.account{:'data-content-key' => 'yield'}
  -if session[:want] == 'finder'
    .article
      %h1 Almost done!
      %h2 Just a little more to do.

      -semantic_form_for @user, :url => { :controller => "signup", :action => "create" } do |f|
        =render "users/inputs", :f => f

        -f.buttons do
          =f.commit_button "Sign Up & Start Browsing"

    =image_tag "characters/lady.png", :class => "lady"

  -else
    .article
      %h1 Almost done!
      %h2 Just a little more to do.

      -semantic_form_for @user, :url => { :controller => "signup", :action => "create" } do |f|
        -f.inputs do
          = f.input :first_name
          = f.input :last_name
          = f.input :password
          = f.input :password_confirmation, :label => "Confirm password"

        -f.buttons do
          =f.commit_button "Sign Up & Start Listing"

    =image_tag "characters/man.png", :class => "man"
