.profile{ :'data-content-key' => 'yield' }
  .article
    %h1 Great! We'll help you find an apartment!
    %h2 Tell us a little about your needs.

    -semantic_form_for Profile.new, :url => { :controller => "signup", :action => "profile" }, :html => { :'data-remote' => true } do |f|
      -f.inputs do
        =f.input :bedrooms
        =f.input :rent

      -f.buttons do
        =f.commit_button "Next"

  =image_tag "characters/lady.png", :class => "lady"
