.profile{ :'data-content-key' => 'yield' }
  -if session[:want] == 'finder'
    .article
      %h1 Great! We'll help you find an apartment!
      %h2 Tell us a little about your needs.

      -semantic_form_for Profile.new, :url => { :controller => "signup", :action => "account" }, :html => { :'data-remote' => true } do |f|
        -f.inputs do
          =f.input :bedrooms, :label => "How many bedrooms do you need?", :as => :select, :collection => (0..8)
          =f.input :rent, :label => "How much can you pay?"
          %li
            %label{:for => "neighborhood_autocomplete"} Neighborhoods*
            =text_field_tag "neighborhood_autocomplete", "e.g., Alphabet City", :'data-default-value' => "e.g., Alphabet City"
            %ul#selected_neighborhoods

        -f.buttons do
          =f.commit_button "Next"

    =image_tag "characters/lady.png", :class => "lady"
    =image_tag "characters/man.png", :class => "man", :'data-animate' => 'fade-out-and-shrink'

  -else
    .article
      %h1 Great! We'll help you rent your apartment!
      %h2 Tell us a little about yourself.

      -semantic_form_for User.new, :url => { :controller => "signup", :action => "account" }, :html => { :'data-remote' => true } do |f|
        -f.inputs do
          =f.input :email
          =f.input :phone

        -f.buttons do
          =f.commit_button "Next"

    =image_tag "characters/lady.png", :class => "lady", :'data-animate' => 'fade-out-and-shrink'
    =image_tag "characters/man.png", :class => "man"
