div.container {
  @include container;
}

div#head {
  background-color: black;
  color: white;
  height: 37px;
  clear: both;

  img {
    float: left;
    margin-right: 50px;
    height: 36px;
    width: 94px;
  }

  ul.nav {
    text-transform: uppercase;

    li {
      float: left;
      border-left: 1px solid #4D4D4D;
      padding: 0 20px;
      height: 37px;
      font-size: 1.1em;
      line-height: 36px;
      a {
        color: white;
      }
    }

    li:last-child {
      border-right: 1px solid #4D4D4D;
    }
  }

  ul.session {
    float: right;

    li {
      float: left;
      line-height: 36px;
      padding: 0 8px;
      color: #A5A5A5;
      font-size: 1.05em;
    }

    li.action a {
      color: white;
    }

    li.profile a {
      color: #E29C47;
    }
  }
}

div#search {
  height: 72px;
  background-color: #8D9CA1;
  background: url(/images/backgrounds/search_bar.png) repeat-x;
}

div#breadcrumbs {
  height: 30px;
  background-color: #F3F3F3;

  div.profile_summary {
    text-align: right;
    font-style: italic;
    font-weight: 500;
    width: 950px;
    margin: 0 auto;
    line-height: 28px;

    span {
        margin-left: 12px;
        font-style: normal;
    }
  }
}

div#body {
  background-color: #F3F3F3;

  label.infield {
    padding-left: 10px;
    color: #ccc;
  }

  li#message_body_input {
    label.infield {
      font-size: 1.1em;
    }
  }


  div.container {
    background-color: white;
  }
}

div#foot {
  background-color: #F3F3F3;
  height: 50px;
  clear: both;

  div.container {
    border-top: 1px solid #eee;
    border-bottom: 3px solid #ddd;
    background-color: white;
  }

  ul {
    margin: 0 10px;

    li {
      text-transform: uppercase;
      font-weight: 700;
      float: left;
      padding: 0 10px;
      height: 50px;
      line-height: 52px;
      font-size: 1em;
      a {
        color: #333333;
      }

      &.copyright {
        font-weight: normal;
        text-transform: none;
        float: right;
        color: #666666;
      }

      &.facebook, &.twitter {
        padding: 0 5px;
        float: right;
        img {
          padding-top: 14px;
        }
      }
    }
  }
}

div#map_canvas {
  width: 50%;
  height: 500px;
}

div.ui-datepicker {
  width: 19em;
}

div.feedback {
  padding: 20px;
  width: 250px;
  background: #CCC;
  border: 1px solid #29216D;

  p {
    font-size: 14px;
  }

  form.formtastic {
    margin-bottom: 0;

      fieldset > ol > li {
          label {
            line-height: 30px;
            font-weight: bold;
          }

          input[type=text] {
            width: 180px;
          }

          textarea {
            width: 180px;
            height: 100px;
            color: #888;
            font-size: 15px;
            padding: 5px;
          }

          input[type=submit] {
            @include dark-blue-button;
            width: 75px;
          }
      }
  }
}

div#flash, div#loading {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  z-index: 100;

  span {
    background-color: #E1B55E;
    padding: 5px 12px;
    @include border-radius(0 0 5px 5px);
    @include box-shadow;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
  }
}

div#loading {
    span {
        background-image: url('/images/spinner.gif');
        background-repeat: no-repeat;
        background-position: 1;
        padding: 6px 12px 6px 38px;
        line-height: 30px;
    }
}

div#body {
  div.container {
    div.internal_error {
      margin: 50px 20px 0 20px;
    }

    div#four_oh_four {
      background: url(/images/characters/lady.png) no-repeat;
      height: 400px;
      h1, h2 {
        padding-left: 200px;
      }
    }

    div#five_hundred {
      background: url(/images/characters/man.png) no-repeat;
      background-position: right top;
      height: 400px;
      h1, h2 {
        padding-right: 200px;
      }
    }
  }
}

form.formtastic {
    div.errorExplanation {
        border: 1px solid red;
        background-color: pink;
        padding: 5px 15px;
        margin-bottom: 20px;
        @include border-radius;

        h2 {
            display: none;
        }

        ul {
            list-style-type: disc;
            margin: 5px 0 5px 30px;
        }
    }

    li.error {
        input {
            border: 1px solid red;
        }

        p.inline-errors {
            display: none;
        }
    }
}
