@mixin button {
    @include border-radius(5px);
    height: 33px;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: capitalize;
    line-height: 32px;
}

@mixin link {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 32px;
}

@mixin dark-blue-button {
    @include button;
    background: url(/images/buttons/blue_button.png) repeat-x;
    border: 1px solid #637379;
}

@mixin green-button {
    @include button;
    background: url(/images/buttons/green_button.png) repeat-x;
    border: 1px solid #8EAC46;
}

@mixin dark-blue-link {
    @include link;
    @include dark-blue-button;
    border: 1px solid #637379;
}

@mixin green-link {
    @include link;
    @include green-button;
    border: 1px solid #8EAC46;
}