body.dashboard {
    div.head {
        background: url(/images/backgrounds/tab.png) repeat-x left bottom;

        h1 {
            font-weight: 500;
            float: left;
            margin: -55px 0 0 25px;
        }

        div.lady {
            float: right;
            margin: -60px 12px 0 0;
            background: url(/images/characters/lady_head.png) no-repeat right center;
            height: 84px;

            span {
                font-size: 1.2em;
                font-style: italic;
                width: 220px;
                padding: 15px 85px 0 0;
                text-align: center;
                display: block;
            }
        }

        ul.tabs {
            @include clearfix;
            margin-top: 70px;
            margin-left: 25px;
            li {
                float: left;
                padding: 5px 20px 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2em;
                border-top: 4px solid white;
            }

            li.active {
                border-top: 4px solid #A0C045;
                border-left: 4px solid #DCDCDC;
                border-right: 4px solid #DCDCDC;
                background: url(/images/backgrounds/white.png) repeat-x left bottom;
            }
        }
    }

    div.article {
        width: 630px;
        margin-right: 10px;
        float: left;

        p.empty {
            font-size: 18px;
            padding: 18px;
            text-align: center;
        }

        div.apartment.listing {
            height: 140px;
            margin-bottom: 45px;

            p.summary {
                background-color: #F0F4F7;
                border-bottom: 1px solid #CCCCCC;
                height: 32px;
                line-height: 32px;
                clear: both;
                font-size: 1.1em;
                font-weight: 500;
                padding-left: 10px;

                span {
                    margin-right: 30px;
                    font-weight: bold;
                }
            }
        }

        div.apartment {
            height: 130px;
            margin-left: 3px;
            border-bottom: 1px solid #CCC;
            padding: 3px 0;

            > ul {
                > li {
                    float: left;
                    margin-right: 10px;
                    height: 100%;
                }

                li.photo {
                    width: 150px;

                    div {
                        float: left;
                    }

                    div.image {
                        width: 110px;
                        height: 110px;
                        float: left;
                        padding: 5px 0 5px 5px;
                    }

                    div.count {
                        width: 35px;
                        height: 35px;
                        background-color: #E1B55E;
                        font-size: 2em;
                        text-align: right;
                        padding-right: 10px;
                        float: right;
                        position: relative;
                        top: -105px;
                    }
                }

                li.info {
                    border-right: 1px solid #CCC;
                    width: 265px;
                    font-weight: 500;

                    ul {
                        li.street {
                            padding-top: 10px;
                            margin-bottom: 4px;
                            a {
                                font-size: 1.8em;
                                font-weight: 600;
                            }
                        }

                        li.neighborhood a {
                            font-size: 1em;
                        }

                        li.basic {
                            font-size: 1.2em;
                            span.rent {
                                font-weight: 600;
                            }
                        }

                        li.neighborhood, li.listed_on {
                            font-size: 0.95em;
                        }
                    }
                }

                li.status {
                    p {
                        font-weight: bold;
                        font-size: 1.1em;
                        margin-bottom: 3px;
                        padding-top: 2px;
                    }

                    ul.buttons {
                        padding-left: 12px;
                        li {
                            float: left;
                            margin-right: 10px;
                            width: 70px;

                            a {
                                color: white;
                            }
                        }

                        li.edit {
                            @include green-link;
                            height: 26px;
                            line-height: 26px;
                        }

                        li.delete {
                            @include dark-blue-link;
                            height: 26px;
                            line-height: 26px;
                        }
                    }

                    fieldset.inputs {
                        ol {
                            li {
                                padding-left: 10px;
                                margin-bottom: 1px;
                                label {
                                    display: inline;
                                    float: none;
                                    font-size: 1.1em;
                                }

                                input[type=radio] {
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }

                li.contact {
                    width: 180px;
                    margin-right: 0;

                    ul {
                        position: relative;
                        top: 20px;

                        li {
                            padding-left: 15px;
                        }

                        li.phone {
                            font-weight: 500;
                            font-size: 1.7em;
                            margin-bottom: 5px;
                        }

                        li.message a, li.favorite a {
                            padding-left: 15px;
                            font-size: 0.95em;
                        }

                        li.message a {
                            background: url(/images/icons/message_small.png) no-repeat 0 4px;
                        }

                        li.favorite a {
                            &.add {
                                background: url(/images/icons/add_small.png) no-repeat 0 3px;
                            }

                            &.remove {
                                background: url(/images/icons/remove_small.png) no-repeat 0 3px;
                            }
                        }
                    }
                }
            }
        }
    }

    div.aside {
        width: 310px;
        float: right;

        h3 {
            font-size: 2em;
            padding-bottom: 8px;
            margin-bottom: 0;
        }

        div#activity_feed {
            h3 {
                border-right: 4px solid #429E87;
            }

            ul {
                margin-top: 5px;
                padding-right: 22px;

                li {
                    background-repeat: no-repeat;
                    background-position: 0 2px;
                    padding-left: 25px;
                    margin-bottom: 12px;

                    span.text {
                        font-weight: 500;
                    }

                    span.date {
                        display: block;
                        color: #888;
                    }
                }

                li.favorite.created {
                    background: url(/images/icons/add.png) no-repeat 0 2px;
                }

                li.favorite.destroyed {
                    background: url(/images/icons/remove.png) no-repeat 0 2px;
                }

                li.message.created {
                    background: url(/images/icons/message.png) no-repeat 0 2px;
                }
            }
        }
    }
}