body.dashboard {
    div.pagination {
        @include clearfix;
        font-size: 1.2em;
        height: 36px;
        width: 100%;
        > ul {
            padding: 9px 18px;
            > li.counts {
                float: left;
            }
            > li.navigation {
                float: right;
                > ul.pagination {
                    > li {
                        float: left;
                        padding: 0 0 0 5px;
                    }
                }
            }
        }
    }

    div.conversations {
        margin: 0 10px;
        width: 930px;
        border: 1px solid #ececec;

        span.bold {
            font-weight: bold;
        }

        span.light {
            color: #dadada;
        }

        div.conversation {
            height: 55px;
            background: url(/images/backgrounds/message_thread.png) repeat-x;

            ul.conversation {
                > li {
                    float: left;
                }

                > li.status {
                    height: 100%;
                    width: 55px;
                }

                > li.new {
                    background: url(/images/backgrounds/new_message.png) no-repeat left center;
                }

                > li.info {
                    padding-top: 0.5em;
                    > ul {
                        li.sender {
                            font-size: 1.5em;
                        }
                    }
                }

                > li.name {
                    float: right;
                    font-size: 1.2em;
                    padding-top: 1.2em;
                    color: #aaa;
                    text-align: right;
                }

                > li.photo {
                    float: right;
                    padding: 12px;
                }

                > li.delete {
                    float: right;
                    padding: 20px 15px 16px 17px;
                    background: url(/images/backgrounds/sideways_gradient_right.png) repeat-y left;
                }
            }

        }

        div.conversation:hover {
            background: url(/images/backgrounds/message_thread_hover.png) repeat-x;
        }

        div.messages {
            ul {
                padding: 10px;
                > li {
                    padding: 10px;
                    border-bottom: 1px solid #ececec;
                    p {
                        line-height: 2em;
                        margin: 0;
                    }
                }
                > li.reply {
                    padding-right: 0px;
                    border-bottom: 0;
                    a {
                        font-weight: bold;
                        float: right;
                    }

                    form {
                        fieldset.inputs {
                            width: 560px;
                            li {
                                textarea {
                                    height: 80px;
                                    width: 100%;
                                    margin-top: 5px;
                                    padding: 0.5em;
                                    color: #aaa;
                                }
                            }
                        }

                        fieldset.buttons {
                            padding-left: 10px;
                            li.commit {
                                float: left;
                                input {
                                    @include dark-blue-button;
                                    font-weight: 400;
                                    width: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}