body.pages {
    div.page {
        padding: 2em;

        p {
            font-size: 1.2em;
        }

        div#bios {
            border-top: 5px dashed black;
            padding-top: 15px;

            div.bio {
                float: left;
                width: 440px;

                h2 {
                    margin-right: 5px;
                    display: inline;
                }

                h3 {
                    font-style: italic;
                    margin-top: -3px;
                }

                img {
                    margin-right: 5px;
                }

                p {
                    img {
                        width: 80px;
                        height: 80px;
                        float: left;
                        margin-right: 12px;
                        @include box-shadow;
                    }
                }

                &#todd {
                    padding-right: 10px;
                }

                &#mike {
                    padding-left: 10px;
                }
            }
        }

        div.faq {
            float: left;
            width: 70%;
        }

        img.man {
            margin: 30px 0 0 15px;
        }
    }
}