body {
  @include blueprint-typography(true);
}

html, body {
  height: 100%;
  font-family: "museo-slab-1", "museo-slab-2", serif;
}

body {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #1982A0;
  }

  table {
    margin: 0;
  }
}
