body {
  @include blueprint-typography(true);
}

html, body {
  height: 100%;
  font-family: "museo-slab", serif;
  background-color: #F3F3F3;
}

body {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #1982A0;
  }

  table {
    margin: 0;
  }

  fieldset {
    input[type=text], input[type=password] {
      color: #888;
      font-size: 15px;
      padding: 5px;
      height: 35px;
    }
  }
}
