div#search {
    div.container {
        overflow: visible;
    }

    h2 {
        color: white;
        font-weight: 500;
        padding: 15px 0;
        float: left;
        margin-right: 20px;
    }

    form {
        padding: 18px 0;

        div.spicyselect {
            float: left;
            margin-right: 10px;
            @include border-radius(5px);
            background: url(/images/icons/search_arrow.png) no-repeat 95% center;
            background-color: white;
            padding: 5px 5px 5px 15px;

                a {
                  display: block;
                  width: 100%;
                  text-decoration: none;
                  color: #999;
                  font-size: 1.2em;
                  font-weight: 200;
                }
        }

        div.spicyselect.focus {
            @include box-shadow(black, 0, 0, 5px);
        }

        div#q_neighborhood_ids_mask{
            width: 230px;

            ol {
                width: 600px;
                z-index: 100;
                li {
                    float: left;
                    border: none;
                    width: 140px;
                }
            }
        }

        div#q_min_bedrooms_mask {
            width: 140px;
        }

        input#q_max_rent {
            float: left;
            width: 155px;
            height: 32px;
            background-color: white;
            @include border-radius(5px);
            padding: 5px 5px 5px 15px;
            border: none;
            color: #999;
            font-size: 1.2em;
            font-weight: 200;
            margin-right: 10px;
        }

        input[type=submit] {
            @include dark-blue-button;
            width: 110px;
            margin-left: 20px;
        }
    }
}

.spicyselect {
  width: 200px;
  position: relative;
}

.spicyselect:hover {
  cursor: default;
}

.spicyselect > ol {
  border-top: 1px solid black;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

.spicyselect ol {
  margin: 0;
  padding: 0;
}

.spicyselect ol ol {
  padding-left: 8px;
}

.spicyselect ol ol li.optgroup_label {
  margin-left: -8px;
  font-weight: bold;
  background-color: lightgray;
}

.spicyselect ol ol li.optgroup_label:hover {
  background-color: lightgray;
  color: black;
}

.spicyselect li {
  border-bottom: 1px solid black;
  list-style: none;
  padding: 5px;
}

.spicyselect li.current {
  background-color: lightblue;
  color: black;
}