div#search {
    div.container {
        overflow: visible;
    }

    h2 {
        color: white;
        font-weight: 500;
        padding: 15px 0;
        float: left;
        margin-right: 30px;
    }

    form {
        padding: 18px 0;

        input#neighborhood_autocomplete, input#q_min_bedrooms, input#q_max_rent {
            float: left;
            height: 32px;
            background-color: white;
            @include border-radius(5px);
            @include box-shadow;
            padding: 5px 5px 5px 15px;
            border: none;
            color: #999;
            font-size: 1.2em;
            font-weight: 200;
            margin-right: 15px;
        }

        input#neighborhood_autocomplete {
            width: 250px;
        }

        input#q_min_bedrooms {
            width: 150px;
        }

        input#q_max_rent {
            width: 145px;
        }

        input[type=submit] {
            @include dark-blue-button;
            width: 110px;
            margin-left: 20px;
        }
    }
}

.spicyselect {
  width: 200px;
  position: relative;
}

.spicyselect:hover {
  cursor: default;
}

.spicyselect > ol {
  border-top: 1px solid black;
  position: absolute;
  background-color: white;
  border: 1px solid black;
}

.spicyselect ol {
  margin: 0;
  padding: 0;
}

.spicyselect ol ol {
  padding-left: 8px;
}

.spicyselect ol ol li.optgroup_label {
  margin-left: -8px;
  font-weight: bold;
  background-color: lightgray;
}

.spicyselect ol ol li.optgroup_label:hover {
  background-color: lightgray;
  color: black;
}

.spicyselect li {
  border-bottom: 1px solid black;
  list-style: none;
  padding: 5px;
}

.spicyselect li.current {
  background-color: lightblue;
  color: black;
}