div#search {
    div.container {
        overflow: visible;
    }

    h2 {
        color: white;
        font-weight: 500;
        padding: 15px 0;
        float: left;
        margin-right: 30px;
    }

    form {
        padding: 18px 0;

        input#neighborhood_autocomplete, input#q_min_bedrooms, input#q_max_rent {
            float: left;
            height: 32px;
            background-color: white;
            @include border-radius(5px);
            @include box-shadow;
            padding: 5px 5px 5px 15px;
            border: none;
            color: #999;
            font-size: 1.2em;
            font-weight: 200;
            margin-right: 15px;
        }

        input#neighborhood_autocomplete {
            width: 250px;
        }

        input#q_min_bedrooms {
            width: 150px;
        }

        input#q_max_rent {
            width: 145px;
        }

        input[type=submit] {
            @include dark-blue-button;
            width: 110px;
            margin-left: 20px;
        }
    }
}