body.welcome.index, body.signup.create {
    div#body {
        background: url(/images/backgrounds/unauthenticated_side.png) repeat-x;

        div.container {
            background: url(/images/backgrounds/unauthenticated.png) no-repeat;
            width: 950px;
            height: 582px;
            position: relative;

            h1 {
                text-align: center;
                margin-top: 50px;
                font-size: 2.7em;
                font-weight: 500;
            }

            div#buttons {
                text-align: center;
                margin-top: 50px;
            }

            img.lady {
                position: absolute;
                top: 186px;
                left: 0px;
            }

            img.man {
                position: absolute;
                top: 179px;
                right: 1px;
            }

            div#login {
                position: absolute;
                top: 493px;

                h6 {
                    margin-left: 245px;
                    color: #55534E;
                }

                form.session {
                    margin-left: 245px;

                    li {
                        float: left;
                        width: 175px;
                        margin-right: 8px;

                        input {
                            width: 175px;
                            max-width: 175px;
                            height: 33px;
                            padding: 4px;
                            font-size: 1.25em;
                            color: #888;
                        }

                        input[type=submit] {
                            @include dark-blue-button;
                            width: 100px;
                            font-weight: 400;
                            line-height: 21px;
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }

    div#foot {
        background-color: white;
    }
}



body.welcome.index, body.signup.create {
    div#body {
        div.container {
            position: relative;

            div.profile, div.account {
                div.article {
                    background-color: white;
                    width: 650px;
                    height: 425px;
                    position: absolute;
                    left: 150px;
                    top: 39px;
                    @include border-radius(35px 35px 0 0);
                    @include opacity(0.8);

                    h1 {
                        padding-top: 20px;
                        margin: 0;
                        font-size: 2em;
                        text-align: center;
                    }

                    h2 {
                        font-size: 1.7em;
                        text-align: center;
                    }
                }
            }

            div.profile, div.account {
                div.article {
                    form.profile, form.user {
                        label {
                            width: 200px;
                            text-align: right;
                            margin-right: 20px;
                            line-height: 32px;
                            font-size: 1.2em;
                        }

                        input[type=text], input[type=password] {
                            width: 350px;
                            height: 35px;
                        }

                        input[type=submit] {
                            @include green-button;
                            width: 75px;
                        }

                        fieldset.inputs {
                            width: 100%;
                        }

                        fieldset.buttons {
                            padding-left: 220px;
                        }
                    }
                }
            }

            div.account div.article form.user input[type=submit] {
                width: 210px;
            }
        }
    }
}
