body.apartments.show
  div.head
    div.name
      :float left
      :border-left 3px solid #A0C045
      :padding-left 20px
      :height 100px
      h1
        :margin-bottom 0.05em
        :font-weight bold
        :line-height 65px
        :font-size 3.2em
        :margin-bottom -10px

    ul.actions
      :float right
      li
        :float left
        :padding 0 15px
        :font-size 1.05em
        :line-height 35px

  div.article
    :border-left 3px solid white
    :width 625px
    :float left
    :margin-right 10px

    img
      :width 625px
      :height 440px
      :background-color black
      :display block

    div.info
      :position relative
      :top -10px
      :background-color #DEB35D
      :width 350px
      :padding 6px 0 10px 12px

      div.rooms
        :font-size 2.5em
        :float left

      div.rent
        :background-color black
        :color white
        :float right
        :width 110px
        :font-size 2em
        :padding-left 8px
        :margin-top 3px

      ul
        :clear both
        :font-size 1.2em

        li
          :margin-bottom -1px

  div.aside
    :width 315px

    div#map_canvas
      :width 307px
      :height 307px

  dl
    :clear both