/*
Syntax error: Undefined mixin 'rounded-corners'.
        on line 126 of /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass, in `rounded-corners'
        from line 126 of /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass

121:                 :background transparent url(/images/backgrounds/button.png) repeat-x scroll 0 0
122:                 :padding 5px 10px
123:                 :color white
124:                 :border 1px solid #EBEBEB
125:                 :font-size 1.2em
126:                 @include rounded-corners(4px)
127: 
128:         div.messages
129:           :background-color #F5F5F5
130:           :padding 10px 15px
131:           :margin-top 15px

Backtrace:
/Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass:126:in `rounded-corners'
/Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass:126
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/mixin_node.rb:74:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/rule_node.rb:188:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `map'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:322:in `perform_children'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:313:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/root_node.rb:59:in `perform!'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:301:in `_perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/node.rb:209:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/root_node.rb:37:in `perform'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/tree/root_node.rb:29:in `render'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:221:in `update_stylesheet'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:86:in `update_stylesheets'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:79:in `each'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:79:in `update_stylesheets'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:77:in `each'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:77:in `update_stylesheets'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin.rb:51:in `check_for_updates'
/Users/mrhaddad/.bundle/ruby/1.8/gems/haml-3.0.6/rails/../lib/sass/plugin/rack.rb:40:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/string_coercion.rb:25:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/head.rb:9:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/methodoverride.rb:24:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/params_parser.rb:15:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/failsafe.rb:26:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `synchronize'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/lock.rb:11:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:114:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/reloader.rb:34:in `run'
/Users/mrhaddad/.bundle/ruby/1.8/gems/actionpack-2.3.8/lib/action_controller/dispatcher.rb:108:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rails-2.3.8/lib/rails/rack/static.rb:31:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:47:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `each'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/urlmap.rb:41:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rails-2.3.8/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/content_length.rb:13:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/chunked.rb:15:in `call'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:67:in `process'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Users/mrhaddad/.bundle/ruby/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rack-1.1.0/lib/rack/handler/mongrel.rb:38:in `run'
/Users/mrhaddad/.bundle/ruby/1.8/gems/rails-2.3.8/lib/commands/server.rb:111
script/server:3:in `require'
script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'rounded-corners'.\A         on line 126 of /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass, in `rounded-corners'\A         from line 126 of /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass\A \A 121:                 :background transparent url(/images/backgrounds/button.png) repeat-x scroll 0 0\A 122:                 :padding 5px 10px\A 123:                 :color white\A 124:                 :border 1px solid #EBEBEB\A 125:                 :font-size 1.2em\A 126:                 @include rounded-corners(4px)\A 127: \A 128:         div.messages\A 129:           :background-color #F5F5F5\A 130:           :padding 10px 15px\A 131:           :margin-top 15px"; }
