body.apartments.show div.article {
  width: 625px;
  float: left;
  margin-right: 10px; }
  body.apartments.show div.article div.head div.name {
    border-left: 4px solid #a0c045;
    padding-left: 20px;
    height: 100px; }
    body.apartments.show div.article div.head div.name h1 {
      margin-bottom: 0.05em;
      font-weight: bold;
      line-height: 65px;
      font-size: 3.2em;
      margin-bottom: -10px; }
  body.apartments.show div.article div.content {
    border-left: 4px solid white; }
    body.apartments.show div.article div.content img {
      width: 622px;
      height: 440px;
      background-color: black;
      display: block; }
    body.apartments.show div.article div.content div.info {
      position: relative;
      top: -10px;
      background-color: #deb35d;
      width: 350px;
      padding: 6px 0 10px 12px; }
      body.apartments.show div.article div.content div.info div.rooms {
        font-size: 2.5em;
        float: left; }
      body.apartments.show div.article div.content div.info div.rent {
        background-color: black;
        color: white;
        float: right;
        width: 110px;
        font-size: 2em;
        padding-left: 8px;
        margin-top: 3px; }
      body.apartments.show div.article div.content div.info ul {
        clear: both;
        font-size: 1.2em; }
        body.apartments.show div.article div.content div.info ul li {
          margin-bottom: -1px; }
body.apartments.show div.aside {
  width: 315px;
  float: right; }
  body.apartments.show div.aside > div {
    margin-bottom: 15px;
    -moz-box-shadow: 3px 4px 5px #cccccc;
    -webkit-box-shadow: 3px 4px 5px #cccccc; }
  body.apartments.show div.aside div#nearby_stations h3 {
    border-right: 4px solid #efa54e; }
  body.apartments.show div.aside div#nearby_stations table {
    background-color: #f0f4f7;
    padding: 6px 6px 10px 6px;
    width: 311px; }
    body.apartments.show div.aside div#nearby_stations table tr td {
      border-bottom: 1px solid #e7ebee; }
    body.apartments.show div.aside div#nearby_stations table td:first-child {
      color: #202123;
      width: 90%; }
    body.apartments.show div.aside div#nearby_stations table td:last-child {
      color: #676767;
      text-align: right;
      width: 10%; }
  body.apartments.show div.aside div#nearby_restaurants h3 {
    border-right: 4px solid #429e87; }
  body.apartments.show div.aside div#nearby_restaurants ul {
    width: 311px; }
    body.apartments.show div.aside div#nearby_restaurants ul li {
      float: left;
      width: 145px;
      margin-bottom: 5px;
      padding-left: 10px; }
      body.apartments.show div.aside div#nearby_restaurants ul li a {
        display: block; }
        body.apartments.show div.aside div#nearby_restaurants ul li a img {
          border: 4px solid #e8e8ea; }
  body.apartments.show div.aside h3 {
    font-size: 2em;
    padding-bottom: 8px;
    margin-bottom: 0; }
  body.apartments.show div.aside ul.actions {
    float: right;
    height: 100px; }
    body.apartments.show div.aside ul.actions li {
      float: left;
      padding: 0 15px;
      font-size: 1.05em;
      line-height: 35px; }
      body.apartments.show div.aside ul.actions li div {
        padding-left: 5px; }
    body.apartments.show div.aside ul.actions li.favorite {
      background: url(/images/icons/favorite.png) no-repeat 0 9px; }
    body.apartments.show div.aside ul.actions li.flag {
      background: url(/images/icons/flag.png) no-repeat 0 9px; }
  body.apartments.show div.aside div#map_canvas {
    width: 311px;
    height: 311px; }
body.apartments.show dl {
  clear: both; }
