html, body {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #1982a0; }

body.apartments.show div.head div.name {
  float: left;
  border-left: 3px solid #a0c045;
  padding-left: 20px;
  height: 100px; }
  body.apartments.show div.head div.name h1 {
    margin-bottom: 0.05em;
    font-weight: bold;
    line-height: 65px;
    margin-bottom: -15px; }
body.apartments.show div.head ul.actions {
  float: right; }
  body.apartments.show div.head ul.actions li {
    float: left;
    padding: 0 15px;
    font-size: 1.05em;
    line-height: 35px; }
body.apartments.show div.article {
  border-left: 3px solid white;
  width: 625px;
  float: left;
  margin-right: 10px; }
  body.apartments.show div.article img {
    width: 625px;
    height: 440px;
    background-color: black;
    display: block; }
  body.apartments.show div.article div.info {
    position: relative;
    top: -10px;
    background-color: #deb35d;
    width: 350px;
    padding: 6px 0 10px 12px; }
    body.apartments.show div.article div.info div.rooms {
      font-size: 2.5em;
      float: left; }
    body.apartments.show div.article div.info div.rent {
      background-color: black;
      color: white;
      float: right;
      width: 110px;
      font-size: 2em;
      padding-left: 8px;
      margin-top: 3px; }
    body.apartments.show div.article div.info ul {
      clear: both;
      font-size: 1.2em; }
      body.apartments.show div.article div.info ul li {
        margin-bottom: -1px; }
body.apartments.show div.aside {
  width: 315px; }
  body.apartments.show div.aside div#map_canvas {
    width: 307px;
    height: 307px; }
body.apartments.show dl {
  clear: both; }

div#head {
  background-color: black;
  color: white;
  height: 37px;
  clear: both; }
  div#head h1 {
    float: left;
    text-transform: uppercase;
    margin-right: 50px;
    font-size: 1.9em;
    line-height: 33px; }
    div#head h1 a {
      color: white; }
  div#head ul.nav {
    text-transform: uppercase; }
    div#head ul.nav li {
      float: left;
      border-left: 1px solid #4d4d4d;
      padding: 0 20px;
      height: 37px;
      font-family: "museo-slab-1", "museo-slab-2", serif;
      font-size: 1.1em;
      line-height: 33px; }
      div#head ul.nav li a {
        color: white; }
    div#head ul.nav li:last-child {
      border-right: 1px solid #4d4d4d; }
  div#head ul.session {
    float: right; }
    div#head ul.session li {
      float: left;
      line-height: 33px;
      padding: 0 8px;
      color: #a5a5a5;
      font-family: "museo-slab-1", "museo-slab-2", serif;
      font-size: 1.05em; }
    div#head ul.session li.action a {
      color: white; }
    div#head ul.session li.profile a {
      color: #e29c47; }

div#search {
  height: 80px;
  background-color: #8d9ca1; }

div#breadcrumbs {
  height: 30px;
  background-color: #ebebeb; }

div#body {
  background-color: #ebebeb; }
  div#body div.container {
    background-color: white; }

div#foot {
  background-color: #ebebeb;
  height: 60px;
  clear: both; }
  div#foot div.container {
    background-color: white; }
  div#foot ul {
    margin: 0 10px; }
    div#foot ul li {
      font-family: "museo-slab-1", "museo-slab-2", serif;
      float: left;
      padding: 0 6px;
      height: 60px;
      line-height: 58px;
      font-size: 1.05em; }
      div#foot ul li a {
        color: #1982a0; }
    div#foot ul li.copyright {
      float: right;
      color: #666666; }

div#map_canvas {
  width: 50%;
  height: 500px; }

div.ui-datepicker {
  width: 19em; }
