/* line 1, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/reset.sass */
html, body {
  height: 100%;
}

/* line 4, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/reset.sass */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 9, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/reset.sass */
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #1982a0;
}

/* line 3, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.head div.name {
  float: left;
  border-left: 3px solid #a0c045;
  padding-left: 20px;
  height: 100px;
}
/* line 8, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.head div.name h1 {
  margin-bottom: 0.05em;
  font-weight: bold;
  line-height: 65px;
  margin-bottom: -15px;
}
/* line 14, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.head ul.actions {
  float: right;
}
/* line 16, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.head ul.actions li {
  float: left;
  padding: 0 15px;
  font-size: 1.05em;
  line-height: 35px;
}
/* line 22, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article {
  border-left: 3px solid white;
  width: 625px;
  float: left;
  margin-right: 10px;
}
/* line 28, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article img {
  width: 625px;
  height: 440px;
  background-color: black;
  display: block;
}
/* line 34, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article div.info {
  position: relative;
  top: -10px;
  background-color: #deb35d;
  width: 350px;
  padding: 6px 0 10px 12px;
}
/* line 41, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article div.info div.rooms {
  font-size: 2.5em;
  float: left;
}
/* line 45, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article div.info div.rent {
  background-color: black;
  color: white;
  float: right;
  width: 110px;
  font-size: 2em;
  padding-left: 8px;
  margin-top: 3px;
}
/* line 54, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article div.info ul {
  clear: both;
  font-size: 1.2em;
}
/* line 58, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.article div.info ul li {
  margin-bottom: -1px;
}
/* line 61, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.aside {
  width: 315px;
}
/* line 64, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show div.aside div#map_canvas {
  width: 307px;
  height: 307px;
}
/* line 68, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/apartments.sass */
body.apartments.show dl {
  clear: both;
}

/* line 4, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head {
  background-color: black;
  color: white;
  height: 37px;
  clear: both;
}
/* line 10, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head h1 {
  float: left;
  text-transform: uppercase;
  margin-right: 50px;
  font-size: 1.9em;
  line-height: 33px;
}
/* line 16, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head h1 a {
  color: white;
}
/* line 19, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.nav {
  text-transform: uppercase;
}
/* line 21, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.nav li {
  float: left;
  border-left: 1px solid #4d4d4d;
  padding: 0 20px;
  height: 37px;
  font-family: "Georgia";
  font-size: 1.1em;
  line-height: 33px;
}
/* line 29, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.nav li a {
  color: white;
}
/* line 31, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.nav li:last-child {
  border-right: 1px solid #4d4d4d;
}
/* line 34, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.session {
  float: right;
}
/* line 36, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.session li {
  float: left;
  line-height: 33px;
  padding: 0 8px;
  color: #a5a5a5;
  font-family: "Georgia";
  font-size: 1.05em;
}
/* line 43, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.session li.action a {
  color: white;
}
/* line 45, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#head ul.session li.profile a {
  color: #e29c47;
}

/* line 48, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#search {
  height: 80px;
  background-color: #8d9ca1;
}

/* line 52, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#breadcrumbs {
  height: 30px;
  background-color: #ebebeb;
}

/* line 56, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#body {
  background-color: #ebebeb;
}
/* line 58, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#body div.container {
  background-color: white;
}

/* line 61, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot {
  background-color: #ebebeb;
  height: 60px;
  clear: both;
}
/* line 66, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot div.container {
  background-color: white;
}
/* line 69, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot ul {
  margin: 0 10px;
}
/* line 71, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot ul li {
  font-family: "Georgia";
  float: left;
  padding: 0 6px;
  height: 60px;
  line-height: 58px;
  font-size: 1.05em;
}
/* line 78, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot ul li a {
  color: #1982a0;
}
/* line 80, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#foot ul li.copyright {
  float: right;
  color: #666666;
}

/* line 84, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div#map_canvas {
  width: 50%;
  height: 500px;
}

/* line 88, /Users/mrhaddad/workspace/cozily/public/stylesheets/sass/application.sass */
div.ui-datepicker {
  width: 19em;
}
