body {
    font-family: "Helvetica", "Arial";
    color: black;
    font-size: 12px;
}

a {
    color: black;
}

img {
    border: 0;
}

p {
    font-size: 16px;
    margin: 20px 0;
}

table {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background-color: #ccc;
    margin-bottom: 20px;
}

table tr td {
    border-bottom: 1px dashed #888;
    padding: 10px 0;
}

table tr td.img {
    width: 100px;
}