/* line 3, ../../../app/stylesheets/email.scss */
body {
  font-family: "Helvetica", "Arial";
  color: black;
  font-size: 12px;
}

/* line 9, ../../../app/stylesheets/email.scss */
a {
  color: black;
}

/* line 13, ../../../app/stylesheets/email.scss */
img {
  border: 0;
}

/* line 17, ../../../app/stylesheets/email.scss */
p {
  font-size: 16px;
  margin: 20px 0;
}

/* line 22, ../../../app/stylesheets/email.scss */
div.head {
  background-color: black;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
/* line 26, ../../../app/stylesheets/email.scss */
div.head h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding: 5px 0 5px 10px;
}

/* line 34, ../../../app/stylesheets/email.scss */
table {
  width: 85%;
  padding: 0 10px 10px 10px;
  margin-bottom: 20px;
  font-size: 16px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
/* line 42, ../../../app/stylesheets/email.scss */
table tr td {
  border-bottom: 1px dashed #888;
  padding: 10px 0 10px 10px;
}
/* line 46, ../../../app/stylesheets/email.scss */
table tr td.image {
  width: 90px;
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}

/* line 54, ../../../app/stylesheets/email.scss */
span.highlight {
  background-color: #E6C481;
  padding: 2px 5px;
}
