%h1 Apartments

%table.datatable
  %thead
    %tr
      %th User
      %th Name
      %th Neighborhoods
      %th State
      %th Rent
      %th Bedrooms
      %th Bathrooms
      %th Created At
  %tbody
    -@apartments.each do |apartment|
      %tr
        %td=apartment.user.full_name
        %td=apartment.name
        %td
          -if apartment.address.present?
            =apartment.neighborhoods.map(&:name).join(", ")
        %td=apartment.state
        %td=apartment.rent
        %td=apartment.bedrooms
        %td=apartment.bathrooms
        %td=apartment.created_at