%div{:'data-content-key' => 'active-tab'}
  .head
    %ul.tabs
      %li.active
        =link_to "Account", edit_user_path(current_user), :'data-remote' => 'true', :'data-method' => 'get'
      %li
        =link_to "Profile", edit_user_profile_path(current_user), :'data-remote' => 'true', :'data-method' => 'get'

  .article
    - semantic_form_for @user do |f|
      = f.error_messages
      = render "users/inputs", :f => f
      - f.buttons do
        = f.commit_button "Update Account"
