@import "blueprint";

div.ui-datepicker {
 width: 19em;
}

.two-col {
  @include container;
  background-color: #cccccc;
  #header, #footer {
    @include column(24, true); }
  #footer {
    text-align: right;
  }
  #content {
    @include column(24, true);
    #map_canvas {
      width: 50%;
      height: 500px;
    }
  }
}
