-content_for :page_title do
  Welcome to Cozily: No-fee apartments in New York City

%h1 Intelligent apartment hunting in NYC. No hassle. No fees.

#buttons
  =link_to image_tag("buttons/find_an_apartment.png", :class => "find"), browse_path
  =link_to image_tag("buttons/list_an_apartment.png", :class => "list"), {:controller => 'signup', :action => 'profile', :want => 'lister'}, :'data-remote' => true, :'data-method' => 'get'
=image_tag "characters/lady.png", :class => "lady"
=image_tag "characters/man.png", :class => "man"

#login
  %h6 Already have an account?
  = simple_form_for(:user, :url => user_session_path) do |form|
    = form.input :email, :label => false, :placeholder => "Email Address"
    = form.input :password, :as => :password, :label => false, :placeholder => "Password"
    = form.submit "Sign in"
