-content_for :page_title do
  Welcome to Cozily

%h1 Intelligent apartment hunting in NYC. No hassle. No fees.

#buttons
  =link_to image_tag("buttons/find_an_apartment.png", :class => "find"), {:controller => 'signup', :action => 'profile', :want => 'finder'}, :'data-remote' => true, :'data-method' => 'get'
  =link_to image_tag("buttons/list_an_apartment.png", :class => "list"), {:controller => 'signup', :action => 'profile', :want => 'lister'}, :'data-remote' => true, :'data-method' => 'get'
=image_tag "characters/lady.png", :class => "lady"
=image_tag "characters/man.png", :class => "man"

#login
  %h6 Already have an account?
  = semantic_form_for :session, :url => session_path do |form|
    = form.inputs do
      =form.input :email, :label => false
      =form.input :password, :as => :password, :label => false
      =form.commit_button "Sign in"
