.head
  %h1==Hi, #{current_user.first_name}

  .lady
    %span=="Wow #{current_user.first_name}, people seem to love talking to you!"

  %ul.tabs
    %li=link_to "Matches", "#"
    %li=link_to "Favorites", "#"
    %li.active=link_to "Messages", "#"
