%table
  -Message.for_user(current_user).root.map(&:latest_reply).each do |message|
    %tr{:'data-click-path' => user_message_path(current_user, message)}
      %td
        =message.sender.full_name
      %td
        =message.apartment.name
        ==-
        =truncate(message.body)
      %td
        =message.created_at