-content_for :page_title do
  Cozily | About

.page
  %h1 About

  %p Cozily's mission is to help you find great no-fee apartments in New York City without all the hassle that we've gotten used to.

  %p We accomplish this by having landlords list their apartments directly and making sure that the content they post is so good you know exactly what the apartment will look like before you even step inside it. We try to provide the tools you need to keep track of your candidates and make well-informed decisions about which ones are exactly what you're looking for.

  %p If you ever think of anything that would make your apartment search easier, drop us a line. After all, we're apartment hunters too!
