- content_for :page_title do
  Cozily | FAQ

.page
  :markdown
    # FAQ

    ### What is Cozily?
    Cozily is the best place to find no-fee apartments in New York City.

    ### You mean there aren't any brokers fees for these apartments?
    That's right. All of our apartments are listed directly by landlords, so you never
    have to worry that you're going to end up dealing with a broker that's more interested
    in making commission than finding the right apartment for you. You do all the work, so
    you should get to keep the money.

    ### How do I get started?
    Just create an account and go find some apartments you like. Mark the good ones as
    favorites and configure your profile so that we know what you're looking for. As new
    apartments are added, we'll notify you automatically when something matches your
    criteria.

    ### Can I use Cozily to find apartments in other cities?
    Currently, Cozily only has listings for New York City. Check back though - we may
    change that in the future!
