- content_for :page_title do
  Cozily | FAQ

.page
  .faq
    :markdown
      # FAQ

      ### What is Cozily?
      Cozily is an intelligent tool for finding and renting apartments in [New York City](map).

      ### Is it free?
      Yes.

      ### Who made it?
      [Michael Haddad](about) and [Todd Persen](about).

      ### Why'd you make it?
      Because looking for an apartment in the city sucks.  While Craigslist is alright for finding
      couches and activity partners, we think it's time for something new in the rental space.

      ### Do the apartments have broker fees?
      No.  If you spot an apartment that charges a fee, please flag it.  Listings that
      don't meet our standards will be removed.

  =image_tag("characters/man.png", :class => "man")