%div{:'data-content-key' => 'active-tab'}
  .article
    -if @paginated_apartments.present?
      .pagination
        %ul
          %li.counts= raw(page_entries_info @paginated_apartments)
          %li.navigation= paginate @paginated_apartments
      - @paginated_apartments.each_with_index do |apartment, index|
        =render "dashboard/apartment", :apartment => apartment, :position => index + pagination_offset(@paginated_apartments)
      .pagination
        %ul
          %li.counts= raw(page_entries_info @paginated_apartments)
          %li.navigation= paginate @paginated_apartments

    -else
      %p.empty
        You don't have any matches.  We're working on it.

  .aside
    #map_canvas
    =image_tag "backgrounds/shadow.png", :class => "shadow"

    =link_to "view on larger map", dashboard_map_path, :'data-remote' => true
