-content_for :page_title do
  Cozily | Browse

:javascript
  var apartments = #{(@paginated_apartments).as_json(:methods => :to_param, :include => :address).to_json};

.head
  %h1==Hi, friend

  .lady
    %span=lady_text

  %ul.tabs
    %li.active=link_to "Matches (#{@all_apartments.count})", browse_path, :'data-remote' => true

= render "browse/index"

.aside
  #map_canvas
  =image_tag "backgrounds/shadow.png", :class => "shadow"
