-content_for :page_title do
  Cozily | Browse

:javascript
  var apartments = #{(@paginated_apartments).as_json(:methods => :to_param, :include => :building).to_json};

.head
  %h1== Hi, Friend!

  .lady
    %span= lady_text

  = render "dashboard/tabs", :active => nil

= render "browse/index"
