%div{:'data-content-key' => 'search-results'}
  - if results.present?
    .pagination
      %ul
        %li.counts= raw(page_entries_info results)
        %li.navigation= paginate(results)

    - results.each_with_index do |apartment, index|
      = render "dashboard/apartment", :apartment => apartment, :position => index + pagination_offset(results)

  -else
    %p.empty
      We couldn't find anything like that.
