- content_for :page_title do
  Cozily | Search

- if @search.results.present?
  :javascript
    var apartments = #{@search.paginated_results.as_json(:methods => :to_param, :include => :building).to_json};

.article
  = render "results", :results => @search.paginated_results

.aside

  #map_canvas
  = image_tag "backgrounds/shadow.png", :class => "shadow"
