= render "searches/form", :search => @search

- if params[:q]
  = render "apartments/table", :apartments => @search.results, :type => "search"

- if @search.results.present?
  :javascript
    var apartments = #{@search.results.as_json(:methods => :to_param, :include => :address).to_json};

  #map_canvas
