- if @search.results.present?
  :javascript
    var apartments = #{@search.paginated_results.as_json(:methods => :to_param, :include => :address).to_json};

.article
  =render "results", :search => @search

.aside

  #map_canvas
  =image_tag "backgrounds/shadow.png", :class => "shadow"
