=render "shared/mailer_salutation", :user => @message.receiver
%p==#{@message.sender.full_name} sent you a message.
%p==--------------------
%p==Re: #{@message.conversation.apartment.name}
%p=@message.body
%p==--------------------
%p To reply to this message, follow the link below:
%p=dashboard_messages_url
=render "shared/mailer_signature"
