==#{@message.sender.full_name} sent you a message.


==--------------------
==Re: #{@message.conversation.apartment.name}


=@message.body
==--------------------


To reply to this message, follow the link below:
=url_for({:controller => 'apartments', :action => 'show', :id => @message.conversation.apartment.to_param, :host => "cozi.ly"})
