Someone sent you a message.

==--------------------
==Re: #{@message.apartment.name}

=@message.body
==--------------------

To reply to this message, follow the link below:
=url_for(apartment_path(@message.apartment))