=render "shared/mailer_salutation", :user => @user

=@apartment.name

==--------------------
==A new apartment in #{@apartment.neighborhoods.map(&:name).to_sentence} was listed on Cozily...

==--------------------


To view this listing, follow the link below:
=url_for({:controller => 'apartments', :action => 'show', :id => @apartment.to_param, :host => "cozi.ly"})

==Based on your profile, Cozily is currently #{profile_summary(@user.profile)}.  To update your profile or opt out of email notifications, follow the link below:
=url_for({:controller => 'users/profiles', :action => 'edit', :user_id => @user.id, :host => "cozi.ly"})


=render "shared/mailer_signature"
