%div{:'data-content-key' => 'neighborhood-apartments'}
  - if apartments.present?
    .pagination
      %ul
        %li.counts= raw(page_entries_info apartments)
        %li.navigation= paginate apartments

    - apartments.each_with_index do |apartment, index|
      = render "dashboard/apartment", :apartment => apartment, :position => index + pagination_offset(apartments)

  - else
    %p.empty We don't have any listings in this neighborhood. But we're working on it.
