-content_for :page_title do
  Cozily | Neighborhoods

%h1 Neighborhoods

- @neighborhoods.each_key do |borough|
  %h2= borough
  %ul
    - @neighborhoods[borough].each do |neighborhood|
      =render "neighborhoods/link", :neighborhood => neighborhood