%ul
  -@neighborhoods.each do |neighborhood|
    -next unless neighborhood.apartments.with_state(:published).present?
    %li=link_to "#{neighborhood.name} (#{neighborhood.apartments.with_state(:published).count})", neighborhood