%ul
  -@neighborhoods.each do |neighborhood|
    -next unless neighborhood.apartments.with_state(:listed).present?
    %li=link_to "#{neighborhood.name} (#{neighborhood.apartments.with_state(:listed).count})", neighborhood
