-content_for :page_title do
  Cozily | Neighborhoods

%h1 Neighborhoods

- ["Manhattan", "Brooklyn", "Queens", "Bronx", "Staten Island"].each do |borough|
  .borough_profile{:'data-borough' => borough}
    %h2= borough
    =image_tag("white_spinner.gif")