%ul
  -@neighborhoods.each do |neighborhood|
    -next unless neighborhood.published_apartments.present?
    %li=link_to "#{neighborhood.name} (#{neighborhood.published_apartments.count})", neighborhood
