-content_for :page_title do
  ==Cozily | #{@neighborhood.name}

-if @apartments.present?
  :javascript
    var apartments = #{@apartments.as_json(:methods => :to_param, :include => :address).to_json};

.article
  %h2==Matches in #{@neighborhood.name}
  =render "users/profiles/neighborhood_link", :neighborhood => @neighborhood

  =render "apartments", :apartments => @apartments

.aside
  #map_canvas
