=render "apartments/table", :apartments => @apartments, :type => "neighborhood"

-if @apartments.present?
  :javascript
    var apartments = #{@apartments.as_json(:methods => :to_param, :include => :address).to_json};

  #map_canvas
