=render "apartments/table", :apartments => @apartments, :type => "neighborhood"

-if @apartments.present?
  :javascript
    var apartments = #{@apartments.to_json(:methods => :to_param, :include => :address)};

  #map_canvas