-content_for :page_title do
  ==Cozily | Admin | User Activity

=render "admin/base/nav"

%h1==User Activity (#{UserActivity.count})

%ol
  -@activities.each do |activity|
    %li==#{activity[0]} / #{activity[1]}