-content_for :page_title do
  ==Cozily | Admin | Users

=render "admin/base/nav"

%h1 Users
%table.datatable
  %thead
    %tr
      %th Name
      %th Email
      %th Confirmed
      %th Joined
      %th Role(s)
  %tbody
    -@users.each do |user|
      %tr
        %td=link_to user.full_name, admin_user_path(user)
        %td=user.email
        %td=user.email_confirmed
        %td=user.created_at
        %td=roles(user)