-semantic_form_for apartment do |f|
  =f.error_messages
  -f.inputs do
    =hidden_field_tag "apartment[feature_ids][]"

    -f.semantic_fields_for :address do |address_fields|
      =address_fields.input :full_address, :label => "Address"
    =f.input :unit
    =f.input :rent
    =f.input :bedrooms
    =f.input :bathrooms
    =f.input :square_footage
    =f.input :start_date, :as => :string

    -if current_user.contacts.present?
      =f.input :contact, :collection => current_user.contacts

    -f.object.build_contact(:user => current_user)
    -f.semantic_fields_for :contact do |contact_fields|
      -contact_fields.inputs contact_text do
        =contact_fields.input :user_id, :as => :hidden
        =contact_fields.input :name
        =contact_fields.input :email
        =contact_fields.input :phone

    -Feature.all.each do |feature|
      %li
        -field_id = "feature_#{feature.id}"
        =label_tag field_id, feature.name
        =check_box_tag("apartment[feature_ids][]", feature.id, apartment.features.include?(feature), { :id => field_id })

  -f.buttons do
    =f.commit_button