.owner
  -if type == :edit
    %ul.buttons
      %li=link_to "Delete Apartment", apartment_path(apartment), :method => :delete, :confirm => "Are you sure?"
      -if apartment.can_unlist?
        %li=link_to "Unlist Apartment", transition_apartment_path(apartment, :event => "unlist"), :method => :put
      -if apartment.can_lease?
        %li=link_to "Mark as 'Leased'", transition_apartment_path(apartment, :event => "lease"), :method => :put
      %li.save=link_to "Save Changes", "#"
      -if apartment.can_list?
        %li.list=link_to "List Apartment", transition_apartment_path(apartment, :event => "list"), :method => :put

  %ul.tabs
    -[["Edit Listing", edit_apartment_path(apartment)], ["View Listing", apartment_path(apartment)]].each do |text, path|
      -klass = (request.request_uri == path) ? "active" : "inactive"
      %li{:class => klass}
        =link_to_unless_current text, path