.owner
  -if type == :edit
    %h1 Edit Listing
    %ul.buttons
      %li=link_to "Delete Apartment", apartment_path(apartment), :method => :delete, :confirm => "Are you sure?"
      -if apartment.can_unpublish?
        %li=link_to "Unpublish Apartment", transition_apartment_path(apartment, :event => "unpublish"), :method => :put
      -if apartment.can_lease?
        %li=link_to "Mark as 'Leased'", transition_apartment_path(apartment, :event => "lease"), :method => :put
      %li.save=link_to "Save Changes", "#"
      -if apartment.can_publish?
        %li.publish=link_to "Publish Apartment", transition_apartment_path(apartment, :event => "publish", :return_to => apartment_path(apartment)), :method => :put
  -else
    %h1 View Listing

  %ul.tabs
    -if type == :edit
      %li.active Edit Listing
      %li=link_to "View Listing", apartment_path(apartment)
    -else
      %li=link_to "Edit Listing", edit_apartment_path(apartment)
      %li.active View Listing