.owner
  -if type == :edit
    %h1 Edit Listing
    = render "apartments/owner_buttons", :apartment => apartment

  -else
    %h1 View Listing

  %ul.tabs
    -if type == :edit
      %li.active Edit Listing
      %li=link_to "View Listing", apartment_path(apartment)
    -else
      %li=link_to "Edit Listing", edit_apartment_path(apartment)
      %li.active View Listing