%ul#photos{:'data-content-key' => 'photos'}
  - apartment.photos.each do |photo|
    = render "photos/thumbnail", :photo => photo
  - for num in apartment.photos.count+1..6
    %li.empty
      %span.number= num
