%ul.tabs
  -[["Edit Listing", edit_apartment_path(apartment)], ["View Listing", apartment_path(apartment)]].each do |text, path|
    -klass = (request.request_uri == path) ? "active" : "inactive"
    %li{:class => klass}
      =link_to_unless_current text, path
