%div{:'data-content-key' => "#{type}_table"}
  -if apartments.present?
    %table
      %thead
        %tr
          %th Address
          %th Rent
          %th Bedrooms
          %th Bathrooms
          %th Square Footage
          -if current_user
            %th
          -if type == "owner"
            %th

      %tbody
        -apartments.each do |apartment|
          %tr
            %td=link_to apartment.full_address, apartment
            %td=apartment.rent
            %td=apartment.bedrooms
            %td=apartment.bathrooms
            %td=apartment.square_footage
            -if current_user && type != "owner"
              %td=favorite_for_user_and_apartment(current_user, apartment)
            -elsif type == "owner"
              %td
                =render "apartments/state_machine", :apartment => apartment, :return_to => user_apartments_path(current_user)
              %td
                -if can? :destroy, apartment
                  =link_to "delete", apartment_path(apartment, :return_to => user_apartments_path(current_user)), :method => :delete, :confirm => "Are you sure?"

  -else
    %p
      -if type == "favorites"
        You don't have any favorites.  Are you too picky?
      -elsif type == "neighborhood"
        Cozily doesn't know of any apartments in this neighborhood.
      -elsif type == "owner"
        You don't have any apartments.  Maybe you should create one?