:javascript
  var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
  var apartments = #{(@apartment.comparable_apartments).as_json(:methods => :to_param, :include => :address).to_json};

=render "apartments/owner", :apartment => @apartment, :type => :edit

.article
  %h2
    About the Apartment
    %span==(#{@apartment.state_name})

  =render "apartments/form", :apartment => @apartment

.aside
  %h2 Comparables in the Area

  #map_canvas

  =render "apartments/comparables", :apartments => @apartment.comparable_apartments