=render "apartments/table", :apartments => @apartments, :type => "owner"

-if @apartments.any? { |a| a.address.present? }
  :javascript
    var apartments = #{@apartments.to_json(:methods => :to_param, :include => :address)};

  #map_canvas
