-if @apartment.published? || (signed_in? && current_user.apartments.include?(@apartment))
  :javascript
    var self = #{@apartment.as_json(:methods => :to_param, :include => :address).to_json};
    var apartments = #{(Apartment.with_state(:published) - [@apartment]).as_json(:methods => :to_param, :include => :address).to_json};

  -if can? :edit, @apartment
    =link_to "edit apartment", edit_apartment_path(@apartment)

  =render "favorites/link", :apartment => @apartment
  =render "flags/link", :apartment => @apartment

  %dl
    %dt Address
    %dd=@apartment.name
    %dt Neighborhood
    %dd
      -if @apartment.address && @apartment.neighborhood
        =link_to @apartment.neighborhood.name, @apartment.neighborhood
      -else
        Unknown
    %dt Rent
    %dd=@apartment.rent
    %dt Bedrooms
    %dd=@apartment.bedrooms
    %dt Bathrooms
    %dd=@apartment.bathrooms
    %dt Square footage
    %dd=@apartment.square_footage
    %dt Start date
    %dd=@apartment.start_date

    -if @apartment.contact
      %dt Contact
      %dd
        =@apartment.contact.name
        =@apartment.contact.email
        =@apartment.contact.phone

    %dt Nearby stations
    %dd
      %ul
        -@apartment.nearby_stations.each do |station|
          %li
            =station.name
            =station.distance

  -if @apartment.address
    .business_search{:'data-lat' => @apartment.lat, :'data-lng' => @apartment.lng}

  %ul
    -@apartment.features.each do |feature|
      %li=feature.name

  %ul
    -@apartment.images.each do |image|
      %li=image_tag image.asset.url(:medium)

  #map_canvas

  -if can? :manage, Message
    -@apartment.messages.for_user(current_user).each do |message|
      =render "messages/show", :message => message

    =render "messages/new", :apartment => @apartment

-else
  %p This apartment is unpublished.

