:javascript
  var address = #{@apartment.address.to_json};

=link_to "edit apartment", edit_apartment_path(@apartment)

=render "favorites/link"

%dl
  %dt Address
  %dd=@apartment.address.full_address
  %dt Neighborhood
  %dd=@apartment.neighborhood.try(:name) || "Unknown"
  %dt Rent
  %dd=@apartment.rent
  %dt Bedrooms
  %dd=@apartment.bedrooms
  %dt Bathrooms
  %dd=@apartment.bathrooms
  %dt Square footage
  %dd=@apartment.square_footage
  %dt Description
  %dd=@apartment.description

#map_canvas
