-if @apartment.published? || (signed_in? && current_user.apartments.include?(@apartment))
  :javascript
    var address = #{@apartment.address.to_json};
    var apartments = #{(Apartment.with_state(:published) - [@apartment]).to_json(:methods => :to_param, :include => :address)};

  -if can? :edit, @apartment
    =link_to "edit apartment", edit_apartment_path(@apartment)

  =render "favorites/link", :apartment => @apartment
  =render "flags/link", :apartment => @apartment
  =render "apartments/state_machine", :apartment => @apartment

  %dl
    %dt Address
    %dd=@apartment.name
    %dt Neighborhood
    %dd
      -if @apartment.neighborhood.present?
        =link_to @apartment.neighborhood.name, @apartment.neighborhood
      -else
        Unknown
    %dt Rent
    %dd=@apartment.rent
    %dt Bedrooms
    %dd=@apartment.bedrooms
    %dt Bathrooms
    %dd=@apartment.bathrooms
    %dt Square footage
    %dd=@apartment.square_footage
    %dt Start date
    %dd=@apartment.start_date

    -if @apartment.contact
      %dt Contact
      %dd
        =@apartment.contact.name
        =@apartment.contact.email
        =@apartment.contact.phone

  %ul
    -@apartment.features.each do |feature|
      %li=feature.name

  %ul
    -@apartment.images.each do |image|
      %li=image_tag image.asset.url(:medium)

  #map_canvas

-else
  %p This apartment is unpublished.

