body.apartments {
    ul.buttons {
        li {
            float: left;
            margin: 9px 8px 0 0;

            a {
                @include dark-blue-link;
                width: 135px;
                font-size: 1.1em;
                font-weight: 500;
                color: white;
            }
        }

        li.save, li.publish {
            a {
                @include green-link;
            }
        }

        li.publish {
            font-size: 1.6em;
        }
    }
}