body.apartments {
    div.owner {
        border-bottom: 5px solid black;

        ul.buttons {
            float: right;
            margin: -50px 20px 0 0;
        }

        ul.tabs {
            @include clearfix;
            margin-top: 70px;
            margin-left: 25px;
            li {
                float: left;
                padding: 5px 20px 10px;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2em;
                border-top: 4px solid white;
            }

            li.active {
                border-top: 4px solid #A0C045;
                border-left: 4px solid #DCDCDC;
                border-right: 4px solid #DCDCDC;
            }
        }
    }
}